.profile-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #cce92b;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-family: "Arial", sans-serif;
}

h2,
h3 {
  text-align: center;
  color: #460909;
}

.profile-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #053811;
}

input,
textarea,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.multi-field {
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-btn {
  background-color: #053811;
  color: rgb(73, 5, 5);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.add-btn:hover {
  background-color: #218838;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.skill-badge {
  background: #007bff;
  color: rgb(189, 36, 36);
  padding: 6px 12px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.remove-btn {
  background: red;
  color: rgb(151, 94, 94);
  border: none;
  font-size: 14px;
  margin-left: 8px;
  cursor: pointer;
  padding: 2px 6px;
  border-radius: 50%;
}

.remove-btn:hover {
  background: darkred;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  background: rgb(247, 0, 255);
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

th {
  background: #021e3b;
  color: white;
}

td button {
  background: #007bff;
  color: rgb(83, 0, 0);
  border: none;
  padding: 5px 10px;
  margin: 2px;
  cursor: pointer;
  border-radius: 5px;
}

td button:hover {
  background: #003f83;
}

button[type="button"] {
  padding: 8px 12px;
  background: #0052aa;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button[type="button"]:hover {
  background: #0056b3;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="checkbox"] {
  width: auto;
}
